language: python
matrix:
  include:
    # Ubuntu 18.04 LTS (Bionic Beaver)
    - dist: bionic
      python: pypy3
    - dist: bionic
      python: 3.6
    - dist: bionic
      python: 3.7
    - dist: bionic
      python: 3.8
    - dist: bionic
      python: 3.9
    - dist: bionic
      python: 3.9-dev
    - dist: bionic
      python: nightly
    # Ubuntu 20.04 LTS (Focal Fossa)
    - dist: focal
      python: pypy3
    - dist: focal
      python: 3.6
    - dist: focal
      python: 3.7
    - dist: focal
      python: 3.8
    - dist: focal
      python: 3.9
    - dist: focal
      python: 3.9-dev
    - dist: focal
      python: nightly
before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq glpk-utils

install:
- pip install .

script: pulptest

