include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.rst
include HISTORY
include setup.py
include examples/*.py
include pulp/*.cfg.linux
include pulp/*.cfg.win
include pulp/*.cfg.osx
include pulp/*.cfg.buildout
include pulp/*.py
include pulp/solverdir/*
include pulp/tests/*.py
include pulp/apis/*.py
#include pulp-or/doc/*.pdf
