include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include README.md
include HISTORY
include setup.py
include ez_setup.py
include bootstrap.py
include buildout.cfg
include docs.cfg
include solvers.cfg
include examples/*.py
include src/pulp/*.cfg.linux
include src/pulp/*.cfg.win
include src/pulp/*.cfg.osx
include src/pulp/*.cfg.buildout
include src/pulp/*.py
include src/pulp/solverdir/*
#include pulp-or/doc/*.pdf
